%p
  %strong= Simulation.human_attribute_name(:name) + ':'
  %br
  = simulation.name
%p
  %strong= Simulation.human_attribute_name(:method) + ':'
  %br
  = simulation.method
%p
  %strong= Simulation.human_attribute_name(:loss_probability) + ':'
  %br
  = simulation.loss_probability
%p
  %strong= Simulation.human_attribute_name(:lambda) + ':'
  %br
  = simulation.lambda
%p
  %strong= Simulation.human_attribute_name(:length_avg) + ':'
  %br
  = simulation.length_avg
%p
  %strong= Simulation.human_attribute_name(:length_dev) + ':'
  %br
  = simulation.length_dev
%p
  %strong= Simulation.human_attribute_name(:total_packets) + ':'
  %br
  = simulation.total_packets